# Binary mod files
/mods/

# Runtime data
/saves/
/logs/
/crash-reports/
/usercache.json
/usernamecache.json
/asm/
/.mixin.out/
command_history.txt
/natives-windows-x86_64
/local
/ldlib2
/downloads
/.hmcl
/.probe
emi.json

# Personal preferences
/options.txt
/optionsof.txt
/servers.dat
/screenshots
/resourcepacks
/tmp

# IDE
/.idea/
/.vscode/
*.tmp

# My own things
1.21.1-NeoForge.jar
1.21.1-NeoForge.json

